.check-block {
    max-width: fit-content;
    display: flex;
    gap: 7px;
    align-items: center;
    margin: 5px auto;
    position: relative;
    padding: 1.5px;
}
.check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid var(--verde);
    flex: 0 0 auto; /* evita que ele seja comprimido */
}
.check-block p {
    display: block;
    max-width: 70%;
    word-break: break-word;
    font-size: 20px;
}
.check-marcado {
    background-color: var(--verde);
}
.p-marcado {
    background-color: var(--verde);
}