@charset "UTF-8";

.bloco-de-contagem {
    width: fit-content;
    display: flex;
    align-items: center; /*centralizar os elementos verticalmente*/
    margin: 3px 0;
}
.visualizador {
    width: 26px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
}
.contador {
    display: flex;
    flex-direction: column; /*deixar os elementos em coluna*/
    align-items: center; /*centralizar os elementos ao inves do texto*/
    gap: 5px; /*espaco entre os elementos*/
}
.seta {
    background-color: #9b9b9b;
    width: 18px;
    height: 13px;
    margin-left: 2px;
}
.seta-cima {
    /*           
    __________________ x
    |
    |
    |
    |
    |
    |
    y
                       x   y  
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    */
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
.seta-baixo {
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}